flows.json
[{"id":"8ff0205a.c8ccf","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"64521013.1a042","type":"ibmiot in","z":"8ff0205a.c8ccf","authentication":"apiKey","apiKey":"d100b9ea.9fe208","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"device1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":180,"wires":[["e9fb547d.9865e8","8d72d859.9b6a98","1dd93388.b1ffec"]]},{"id":"e9fb547d.9865e8","type":"function","z":"8ff0205a.c8ccf","name":"Temperature","func":"global.set(\"temperature\", msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["4be4bed.bb0cd4","803a9c8b.5c816"]]},{"id":"4be4bed.bb0cd4","type":"debug","z":"8ff0205a.c8ccf","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":180,"wires":[]},{"id":"8d72d859.9b6a98","type":"function","z":"8ff0205a.c8ccf","name":"Rate","func":"global.set(\"rate\", msg.payload.Heart_Rate)\nmsg.payload=msg.payload.Heart_Rate\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["4be4bed.bb0cd4","765e8152.613bc"]]},{"id":"1dd93388.b1ffec","type":"function","z":"8ff0205a.c8ccf","name":"BP","func":"global.set(\"pressure\", msg.payload.Blood_Pressure)\nmsg.payload=msg.payload.Blood_Pressure\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["4be4bed.bb0cd4","75f2913a.3f058"]]},{"id":"9bdb1fb2.57518","type":"debug","z":"8ff0205a.c8ccf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":560,"wires":[]},{"id":"803a9c8b.5c816","type":"ui_gauge","z":"8ff0205a.c8ccf","name":"","group":"f7df6ea1.7e1bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"Fahrenheit","format":"{{value}}","min":"95","max":"102","colors":["#00b500","#e6e600","#cc1414"],"seg1":"","seg2":"","x":670,"y":100,"wires":[]},{"id":"765e8152.613bc","type":"ui_gauge","z":"8ff0205a.c8ccf","name":"","group":"f7df6ea1.7e1bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Heart Rate","label":"bpm","format":"{{value}}","min":"60","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"75f2913a.3f058","type":"ui_gauge","z":"8ff0205a.c8ccf","name":"","group":"f7df6ea1.7e1bc","order":0,"width":0,"height":0,"gtype":"gage","title":"Blood Pressure","label":"mmHg","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":300,"wires":[]},{"id":"f3e85d61.bfe4c","type":"http in","z":"8ff0205a.c8ccf","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":200,"y":380,"wires":[["ce870f4.c633df"]]},{"id":"ce870f4.c633df","type":"function","z":"8ff0205a.c8ccf","name":"data","func":"msg.payload={\"Temperature\":global.get(\"temperature\"), \"Heart_Rate\": global.get(\"rate\"), \"Blood_Pressure\": global.get(\"pressure\")}\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":380,"wires":[["a19882b2.1ded8"]]},{"id":"a19882b2.1ded8","type":"http response","z":"8ff0205a.c8ccf","name":"","statusCode":"","headers":{},"x":650,"y":380,"wires":[]},{"id":"368e2418.63b1bc","type":"ibmiot out","z":"8ff0205a.c8ccf","authentication":"apiKey","apiKey":"d100b9ea.9fe208","outputType":"cmd","deviceId":"123456","deviceType":"device1","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":640,"wires":[]},{"id":"7d3e42ba.5a709c","type":"ui_button","z":"8ff0205a.c8ccf","name":"","group":"f7df6ea1.7e1bc","order":3,"width":0,"height":0,"passthru":false,"label":"DEVICE ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"poweron\"}","payloadType":"json","topic":"","x":270,"y":600,"wires":[["368e2418.63b1bc","9bdb1fb2.57518"]]},{"id":"dcf0c5bb.a6c018","type":"ui_button","z":"8ff0205a.c8ccf","name":"","group":"f7df6ea1.7e1bc","order":4,"width":0,"height":0,"passthru":false,"label":"DEVICE OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"poweroff\"}","payloadType":"json","topic":"","x":280,"y":700,"wires":[["368e2418.63b1bc","9bdb1fb2.57518"]]},{"id":"593efaa7.b6f4c4","type":"function","z":"8ff0205a.c8ccf","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":460,"wires":[["4ddd4aaf.9ebd24","ae65e5df.1b8668","368e2418.63b1bc"]]},{"id":"8274b865.4390b8","type":"http in","z":"8ff0205a.c8ccf","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":240,"y":460,"wires":[["593efaa7.b6f4c4"]]},{"id":"4ddd4aaf.9ebd24","type":"http response","z":"8ff0205a.c8ccf","name":"","statusCode":"","headers":{},"x":660,"y":460,"wires":[]},{"id":"ae65e5df.1b8668","type":"debug","z":"8ff0205a.c8ccf","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":540,"wires":[]},{"id":"d100b9ea.9fe208","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f7df6ea1.7e1bc","type":"ui_group","z":"","name":"Default","tab":"fde5d312.154fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"fde5d312.154fe","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]